@import url('https://fonts.cdnfonts.com/css/lcd');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 12 12, auto;
}

button, 
a, 
input[type="submit"],
.btn {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%2386CBFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 12 12, auto;
}

.wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    background-color: #dadada;
    flex-direction: column;
    gap: 1.3rem;
}

.clock{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    z-index: 0;
    justify-content: center;
}

.Time{
    font-family: 'LCD', sans-serif;
    font-size: 6rem;
    background: linear-gradient(to bottom, rgb(34, 34, 34), rgb(69, 69, 69));
    border-radius: 50%;
    width: 430px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(31, 31, 31);
    position: relative;
    box-shadow: 0px 4px 10px black;
    user-select: none;
}

.count{
    background-color: rgb(80, 80, 80);
    padding: 0.5rem;
    border-radius: 10px;
    color: white;
}

.Time::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -7%;
    border-radius: 5px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    background-color: rgb(44, 44, 44);
    box-shadow: 0 4px 10px black;
}

.set{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.set button{
    padding: 0.8rem 1.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.3s;
}

.set button:active{
    transform: translateY(3px);
}

.set button:nth-child(1){
    background-color: rgb(84, 84, 84);
    color: white;
    box-shadow: 0px 6px 0px rgb(47, 47, 47);
}

.set button:nth-child(2){
    background-color: rgb(125, 125, 125);
    color: white;;
    box-shadow: 0px 6px 0px rgb(99, 99, 99);
}

.set button:nth-child(3){
    background-color: rgb(149, 149, 149);
    color: white;
    box-shadow: 0px 6px 0px rgb(117, 117, 117);
}

.set button:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 8px 0px rgb(47, 47, 47);
}

.set button:active{
    transform: translateY(3px);
    box-shadow: 0 3px 0px rgb(47, 47, 47);
}

.back button{
    background-color: rgb(255, 58, 58);
    color: white;
   
    border-radius: 5px;
    padding: 0.8rem 1.3rem;
    border: none;
    outline: none;
    box-shadow: 0px 6px 0px rgb(181, 40, 40);
    transition: 0.3s;
}

.back button:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 8px 0px rgb(181, 40, 40);
}

.back button:active{
    transform: translateY(3px);
    box-shadow: 0 3px 0px rgb(181, 40, 40);
}

@media (max-width: 768px) {
    .clock{
        padding: 1.3rem;
    }
    .Time{
        width: 330px;
        height: 330px;
        overflow: hidden;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.281);
    }
    .count{
        font-size: 4.7rem;
        padding: .5rem 2rem;
    }
}