@import url('https://fonts.cdnfonts.com/css/lcd');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 12 12, auto;
}

button, 
a, 
input[type="submit"],
.btn {
    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="%2386CBFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 12 12, auto;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dedede;
    flex-direction: column;
    gap: 1rem;
}

.clock{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    z-index: 0;
}

.watch{
    font-family: 'LCD', sans-serif;
    font-size: 6rem;
    background: linear-gradient(to bottom, rgb(34, 34, 34), rgb(69, 69, 69));
    border-radius: 50%;
    width: 430px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(31, 31, 31);
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.466);
    user-select: none;
    color: white;
}

.watch::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -7%;
    border-radius: 5px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
    background-color: rgb(44, 44, 44);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.463);
}

.time{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    transition: 0.3s;
}

.time input, button{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #ccc;
    border-radius: 10px;
}

.time p{
    margin-bottom: .5rem;
}

.btn{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 55, 55);
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 0 rgb(142, 31, 31);
    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 6px 0 rgb(142, 31, 31);
}

.btn:active{
    transform: translateY(3px);
    box-shadow: 0 3px 0 rgb(142, 31, 31);
}


.time1 button:hover{
    background-color: rgb(169, 169, 169);
}

.time1 input{
    transition: 0.3s;
}

.time1{}

@media (max-width: 768px) {
    .clock{
        padding: 1.3rem;
    }
    .watch{
        width: 330px;
        height: 330px;
       
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.281);
    }
    .count{
        font-size: 4.7rem;
        padding: .5rem 2rem;
    }
    
    .time button{
        border: none;
        outline: none;
        padding: .5rem .5rem;
        background-color: #ccc;
        border-radius: 10px;
    }
    .time1{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        text-align: center;
    }
    #time{
        text-align: center;
        padding-top: 2rem;
    }
}


